<div class="user-menu-container">

  <!-- Кнопка -->
  <button (click)="toggleMenu()" class="avatar-btn" title="Профиль">

    <!-- Если пользователь вошел и есть аватарка -->
    <img [src]="profileService.avatarUrl() ?? 'assets/images/default-avatar.png'" alt="Avatar" class="avatar-image" />

    <!-- Индикатор статуса (опционально) -->
    <span class="status-indicator" *ngIf="authService.isLoggedIn()"></span>
  </button>

  <!-- Выпадающее меню -->
  <div class="dropdown-panel" *ngIf="isMenuOpen" (clickOutside)="closeMenu()">

    <div class="menu-section user-info-section">
      <div class="user-details">
        <p class="user-text">Добро пожаловать!</p>
        <p class="user-name">{{ displayUserName }}</p>
        <p class="user-email">{{ displayUserEmail }}</p>
       </div>
    </div>
    <div class="menu-section">
      <ng-container *ngIf="!authService.isLoggedIn()">
        <a routerLink="/login" class="menu-item" (click)="closeMenu()">
          <lucide-icon name="log-in" size="18"></lucide-icon>
          <span>Войти</span>
        </a>
        <a routerLink="/register" class="menu-item" (click)="closeMenu()">
          <lucide-icon name="user-plus" size="18"></lucide-icon>
          <span>Регистрация</span>
        </a>
      </ng-container>

      <ng-container *ngIf="authService.isLoggedIn()">
        <a routerLink="/profile" class="menu-item" (click)="closeMenu()">
          <lucide-icon name="user" size="20"></lucide-icon>
          <span>Профиль</span>
        </a>
      </ng-container>
    </div>

    <div class="menu-divider"></div>

    <div class="menu-section">
      <button (click)="toggleTheme()" class="menu-item">
        <lucide-icon name="palette" size="18"></lucide-icon>
        <span>{{ 'Выбрать тему' }}</span>
      </button>
      <button class="menu-item">
        <lucide-icon name="globe" size="18"></lucide-icon>
        <span>{{ 'Выбрать язык' }}</span>
      </button>
    </div>

    <ng-container *ngIf="authService.isLoggedIn()">
      <div class="menu-divider"></div>

      <div class="menu-section">
        <button (click)="logout()" class="menu-item logout">
          <lucide-icon name="log-out" size="18"></lucide-icon>
          <span>Выйти</span>
        </button>
      </div>
    </ng-container>

  </div>
</div>
